<h4>Heroes Page:</h4>
<a href="/">Actualiza Heroes</a>
<hr>
<h5>{{heroe}}</h5>
<ul>
    <li>
        Identidad: {{identidad}}
    </li>
    <li>
        Equipo: {{equipo}}
    </li>
    <li>
        Empresa: {{empresa}}
    </li>

</ul>