<h2>Datos:</h2>

<hr>

<form action="/datos" method="post">
    <input type="text" name="dato" placeholder="dato">
    <input type="submit" value="Ingresar">
</form>

<hr>
<h3>Datos:</h3>
<ul>
    {{#each datos}}
        <li>{{this.dato}}</li>
    {{/each}}
</ul>

<hr>
<button onclick="recupera()">Recupera datos JS</button>
<div id="datos"></div>

<br><br>
<a href="/">Home Page</a>

<script type="text/javascript" src="js/purify.min.js"></script>

<script>
    const recupera=async()=>{
        let respuesta=await fetch("http://localhost:3000/leedatos")
        let datos=await respuesta.json()
        console.log(datos)
        let ul1=document.createElement('ul')
        datos.datos.forEach(dato=>{
            let li1=document.createElement('li')

            /*
            let dirty=dato.dato
            const clean = DOMPurify.sanitize(dirty, { USE_PROFILES: { html: false } })
            console.log({dirty, clean})
            */
            li1.innerHTML=DOMPurify.sanitize(dato.dato, { USE_PROFILES: { html: false } })
            
            // li1.innerHTML=dato.dato
            ul1.append(li1)
        })
        let divDatos=document.getElementById('datos')
        divDatos.append(ul1)
    }

</script>