<h2>Nuevo Heroe</h2>
<form action="" id="heroes">
    <input type="text" name="nombre" placeholder="nombre" id="heroe">
    <input type="submit" value="Crear">
</form>

<script src="socket.io/socket.io.js"></script>
<script src="js/heroes.js"></script>