<h2>Home Page</h2>
<hr>
<div>
    <p id="temperatura">La temperatura es de</p>
</div>
<hr>
<div>
    <ul id="demon"></ul>
</div>



<script src="socket.io/socket.io.js"></script>
<script src="assets/scripts/home.js"></script>