<h2>Login de usuarios:</h2>
<hr>
<form action="/api/sessions/login" method="post">

    {{!-- {{#if error}}
        <div class="error">{{errorDetalle}}</div>
    {{/if}}
    
    {{#if usuarioCreado}}
        <div class="success">Se ha creado correctamente el usuario {{usuarioCreadoDetalle}}</div>
    {{/if}} --}}

    {{!-- [fix]: Con pasar solo errorDetalle o ver si el usuario fue creado exitosamente, nos basta para saber si mostrar o no la alerta --}}

    {{#if errorDetalle}}
        <div class="error">{{errorDetalle}}</div>
    {{/if}}
    
    {{#if usuarioCreadoDetalle}}
        <div class="success">Se ha creado correctamente el usuario {{usuarioCreadoDetalle}}</div>
    {{/if}}

    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">

    <input type="submit" value="Login">
</form>
<br>
{{>menu}}