<h2>Registro de usuarios:</h2>
<hr>
<form action="/api/sessions/registro" method="post">
    <input type="text" name="nombre" placeholder="nombre">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">

    <input type="submit" value="Registrar">
</form>
<br>
{{>menu}}
